article {
  display: block;
  text-align: center;
  background: lightgrey;
  font-family: serif;
  padding: 10px;
} 

div {
  background-color: lightgrey;
  box-sizing: border-box;
}
p {
  border: 2px solid;
  border-radius: 5px;
  background-color: lightgrey;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
em {
 text-align: justify;
}
